<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/tables.css" />
<%- include('../partials/nav') %>

<main>

<h1 class='center'>ALL BOOKS</h1>

<table>
  <tbody>
    <tr>
      <% books.forEach((book) => { %>   
      <td><a href="/books/<%= book._id %>"><%= book.title %></a> by <%= book.author.name %></td>
    </tr>
    <% }) %>
  </tbody>
</table>

<div class='center'>
  <a href="/books/new" class="button">ADD BOOK<i class="icon-chevron-right"></i></a>
</div>

</main>

<%- include("../partials/footer") %>