<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/books/new.css" />
<%- include('../partials/nav') %>


<main>

<h1><%= title %></h1>
<table id="list">
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
    </tr>
  </thead>

  <tbody>
    <% books.forEach((book) => { %>
    <tr>
      <td><%= book.title %></td>
      <td><%= book.author.name %></td>
      <td><a href="/books/<%= book._id %>">Details</a></td>
    </tr>
    <% }) %>
  </tbody>
</table>

<div>
  <a href="/books/new">Add Book</a>
</div>

</main>

<%- include("../partials/footer") %>