<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/add.css" />
<%- include('../partials/nav') %>
<main>
  <div class="box">
    <h2>ADD BOOK</h2>
    <form action="/books" method="POST">
      <div class="inputBox">
        <input type="text" name="title" id="title-input" required>
        <label for="title-input">Title</label>
      </div>
      <div class="inputBox">
        <label for="author-input">Author:</label>
        <br>
        <select name="author">
          <% authors.forEach(function(author) { %>
            <option value="<%= author._id %>">
              <%= author.name %>
            </option>
            <% }) %>
        </select>
      </div>
      <div class="inputBox">
        <input type="number" name="year" id="year-input" max=2030 required>
        <label for="year-input">Year Published</label>
      </div>
      <input type="submit" name="" value="ADD BOOK">
      <div>
        <p class='formAdd'>Author not in our system? Add them <a class='formAdd' href="/authors/new">here.</a></p>
      </div>
    </form>
  </div>
  </form>
</main>

<%- include("../partials/footer") %>