<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/books/new.css" />
<%- include('../partials/nav') %>


<main>
  <!-- <h1><%= title %></h1> -->

  <section>
    <div><%= book.title %> by <%= book.author %></div>
    <div>Published: <%= book.year %></div>
    
    <div>Adaptations: 
      <% movies.forEach(movie => { %> <br>
       <a href="/movies/<%= movie._id %>"><%= movie.title %> </a>
       <%= movie.format %> 
       <%= movie.year %> 
      <% }) %>
    
    
    </div>
    <!-- <div>(how to display from movie model with title as sourceMaterial</div> -->

    
  </section>

</main>

<%- include("../partials/footer") %>