<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/movie/show.css" />

<%- include('../partials/nav') %>


<div>
  <h1>
    <%= book.title %>
  </h1>
  <h2>by <%= book.author.name %>
  </h2>
  <h3>Published: <%= book.year %>
  </h3>
  <br>

  <h3>Adaptations:
    <% movies.forEach(movie=> { %> <br>
      <a href="/movies/<%= movie._id %>">
        <%= movie.title %>
      </a>
      <%= movie.format %>
        <%= movie.year %>
          <% }) %>
  </h3>

  <div>
    <h5>Are we missing something? Add a movie or TV show <a href="/movies/new">here.</a> </h5>
  </div>

</div>


<%- include("../partials/footer") %>