<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/books/new.css" />
<%- include('../partials/nav') %>
<main>


  <h1>Movie Search Results:</h1>

  <% let movieInterval=0 %>
    <% if (movies.length> 0) { %>
      <% movies.forEach(movie=> { %>
        <% if (movieInterval % 2===0) { %>
          <div>
            <% } %>
              <div>
                <div class='card'>
                  <a href="/movies/<%= movie._id %>">
                    <div class="container">
                      <h4><%=movie.title %></h4>
                      <p>Format: <%=movie.format %></p>
                      <p>Year: <%= movie.year %></p>
                    </div>
                  </a>
                </div>
              </div>
              <% if (movieInterval % 2===1) { %>
          </div>
          <% } %>
            <% movieInterval ++ %>
              <% }) %>
                <% } else { %>
                  <h3>No movies with that title.</h3>
                  <% } %>

  <br>
  <button><a href="/movies/new">Add Movie</a></button>





</main>

<%- include("../partials/footer") %>