<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/books/new.css" />
<%- include('../partials/nav') %>


<main>
  <!-- <h1><%= title %></h1> -->

 
    <div><%= movie.title %></div>
    <div><%= movie.format %></div>
    <div><%= movie.year %></div>
    <div>Based off the book <%= movie.sourceMaterial %> by (author) </div>
    <!-- how to add the author in the above sentence -->

    <!-- <div>
      <img src="<% movie.imageUrl %>" alt="<%= movie.title %>">
    </div> -->
    

  <br>
  <div>(CHART OF VOTE RESULTS)</div>
<br>

<!-- Have this form show up if the user hasn't submitted a review for this movie yet -->

<% if (!movie.preferred?.addedBy.equals(user.profile._id)) { %>

<form class="review" action="/reviews/<%= movie._id %>" method="POST">
  <h3>Do you think the book or <%= movie.format %> is better?</h3>
  <h6>(Don't be a dick and vote if you haven't read the book.)</h6>
  <label>Which is better?
    <!-- change to radio buttons -->
    <select name='preferred'>
        <option value='book'>Book</option>
        <option value='movie'><%= movie.format %></option>
    </select>
  </label> <br>
  <textarea name="comments" placeholder="Care to elaborate?"></textarea>
  <br>
  <button type='submit'>Submit Vote & Review</button>
</form>
<% } else { %>

<!-- Edit form that shows up if they have submitted a review - have it populate with their previous submission -->
<h3>Your Review</h3>
<form class="review" action="/reviews/<%= movie.preferred._id %>?_method=PUT" method="POST">

  <label>Which is better?

    <% if (movie.preferred?.preferred === 'book') { %>

    <select name='preferred'>
      <option value='book'>Book</option>
      <option value='movie'>Movie</option>
    </select>

      <% } else { %>

        <select name='preferred'>
          <option value='movie'>Movie</option>
          <option value='book'>Book</option>
        </select>

      <% } %>

</label> <br>

<input name="comments" value="<%= movie.preferred.comments %>">
<br>
<button type='submit'>Save Changes</button>
</form>
<br>


<!-- Delete Review/Vote Button -->


<form action="/reviews/<%= movie.preferred._id %>?_method=DELETE" method="POST">

  <button type='submit'>Delete Review</button>

</form>

<% } %>





</main>

<%- include("../partials/footer") %>