<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/books/new.css" />
<%- include('../partials/nav') %>


<main>
  <!-- <h1><%= title %></h1> -->

  <section>
    <div>Title: </div>
    <div><%= movie.title %></div>



    <div>Based of : </div>
    <div><%= book.author %></div>
    


    <div>Adaptations:</div>
    <!-- <div>(how to display from movie model with title as sourceMaterial</div> -->

    <div>
      <img src="<% book.imageUrl %>" alt="<%= book.title %>">
    </div>
    
  </section>

</main>

<%- include("../partials/footer") %>