<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/books/new.css" />
<%- include('../partials/nav') %>


<main>
  <!-- <h1><%= title %></h1> -->

  <section>
    <div>Title: </div>
    <div><%= movie.title %></div>

    <div>Year: </div>
    <div><%= movie.year %></div>

    <div>Based of : </div>
    <div><%= movies.sourceMaterial %></div>
    


    <div>Adaptations:</div>
    <!-- <div>(how to display from movie model with title as sourceMaterial</div> -->

    <div>
      <img src="<% movie.imageUrl %>" alt="<%= movie.title %>">
    </div>
    
  </section>

</main>

<%- include("../partials/footer") %>