<%- include('../partials/html-head') %>
<!-- <link rel="stylesheet" href="/stylesheets/donut.css" /> -->
<link rel="stylesheet" href="/stylesheets/movie/show.css" />

<%- include('../partials/nav') %>


<main>
<div>
  <h1>
    <%= movie.title %>
  </h1>
  <h4>Based on the book <a href="/books/<%= movie?.sourceMaterial?._id %>">
      <%= movie?.sourceMaterial?.title %>
    </a> by <%= movie?.sourceMaterial.author.name %>
  </h4>
  <h4>
    <%= movie.format %> - <%= movie.year %>
  </h4>
</div>
<br>


<%- include('../partials/moviechart') %>

  <div>
    <h4>Currently <%= data.moviePercentage.toFixed(0) %>% of voters prefer the movie over the book.</h4>
  </div>

<!-- <p class="percentage-circle circle-<%= data.moviePercentage.toFixed(0) %> circle-green"><span> <%= data.moviePercentage.toFixed(0) %>%</span></p> -->

<br>
<br>

<div>
  <% if (!userReview) { %>
    <form class="review" action="/reviews/<%= movie._id %>" method="POST">
      <label>Which is better?
        <!-- change to radio buttons -->
        <select name='preferred'>
          <option value='book'>Book</option>
          <option value='movie'>
            <%= movie.format %>
          </option>
        </select>
      </label> <br>
      <textarea name="comments" placeholder="Care to elaborate?"></textarea>
      <br>
      <input type="submit" name="" value="Add Review">
    </form>

    <% } else { %>

      <!-- Edit form that shows up if they have submitted a review - have it populate with their previous submission -->
      <form class="review" action="/reviews/<%= userReview._id %>?_method=PUT" method="POST">
        <label>YOUR PREVIOUS VOTE:
          <% if (userReview?.preferred==='book' ) { %>
            <select name='preferred'>
              <option value='book'>Book</option>
              <option value='movie'>
                <%= movie.format %>
              </option>
            </select>
            <% } else { %>
              <select name='preferred'>
                <option value='movie'>
                  <%= movie.format %>
                </option>
                <option value='book'>Book</option>
              </select>
              <% } %>
        </label> <br>
        <label for="">YOUR PREVIOUS COMMENTS:</label>
        <br>
        <textarea name="comments" placeholder="<%= userReview.comments %>"></textarea>
        <br>
        <br>
        <input type="submit" name="" value="UPDATE VOTE">
      </form>
      <form action="/reviews/<%= userReview._id %>?_method=DELETE" method="POST">
        <input type="submit" name="" value="DELETE VOTE">
      </form>
      <% } %>
</div>

<br>


<div>
  <h2>All Comments</h2>
  <% let reviewInterval=0 %>
    <% if (movie.review?.length> 0) { %>
      <% movie.review.forEach(review=> { %>
        <% if (reviewInterval % 2===0) { %>
          <div>
            <% } %>
              <div>
                <div class='card'>
                  <div class="container">
                    <p>"<%= review.comments %>"</p>
                  </div>
                </div>
              </div>
              <% if (reviewInterval % 2===1) { %>
          </div>
          <% } %>
            <% reviewInterval ++ %>
              <% }) %>
                <% } else { %>
                  <h3>There are no comments yet.</h3>
                  <% } %>
</div>

</main>

<%- include("../partials/footer") %>