<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/books/new.css" />
<link rel="stylesheet" href="/stylesheets/donut.css" />
<%- include('../partials/nav') %>


<main>
  <!-- <h1><%= title %></h1> -->
    <div><%= movie.title %></div>
    <div><%= movie.format %></div>
    <div><%= movie.year %></div>
    <div>Based off the book <%= movie.sourceMaterial %> </div>
    <!-- above reference book then author to get based off the book by (author) -->
    <!-- <div>
      <img src="<% movie.imageUrl %>" alt="<%= movie.title %>">
    </div> -->
  <br>
  <br>


<!-- Donut chart of reviews below -->

  
  <div class="percentage-circle circle-<%= data.moviePercentage %> circle-green"><span> <%= data.moviePercentage %>%</span></div>


  <h1></h1>
  <br>





<br>
<br>
<% if (!userReview) { %>

<form class="review" action="/reviews/<%= movie._id %>" method="POST">
  <h3>Do you think the book or <%= movie.format %> is better?</h3>
  <h6>(Don't be a dick and vote if you haven't read the book.)</h6>
  <label>Which is better?
    <!-- change to radio buttons -->
    <select name='preferred'>
        <option value='book'>Book</option>
        <option value='movie'><%= movie.format %></option>
    </select>
  </label> <br>
  <textarea name="comments" placeholder="Care to elaborate?"></textarea>
  <br>
  <button type='submit'>Submit Vote & Review</button>
</form>
<% } else { %>

<!-- Edit form that shows up if they have submitted a review - have it populate with their previous submission -->
<h3>Your Review</h3>
<form class="review" action="/reviews/<%= userReview._id %>?_method=PUT" method="POST">
  <label>You prefer the
    <% if (userReview?.preferred==='book' ) { %>
      <select name='preferred'>
        <option value='book'>Book</option>
        <option value='movie'><%= movie.format %></option>
      </select>
      <% } else { %>
        <select name='preferred'>
          <option value='movie'><%= movie.format %></option>
          <option value='book'>Book</option>
        </select>
        <% } %>
  </label> <br>
<label for="">Previous comments:</label>
  <input name="comments" value="<%= userReview.comments %>">
  <br>
  <button type='submit'>Save Changes</button>
</form>
<br>

<form action="/reviews/<%= userReview._id %>?_method=DELETE" method="POST">
  <button type='submit'>Delete Review</button>
</form>
<% } %>


<h1>ADD ALL COMMENTS</h1>


</main>

<%- include("../partials/footer") %>