<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/books/new.css" />
<%- include('../partials/nav') %>


<main>
  <!-- <h1><%= title %></h1> -->

  <section>
    <div>Name: </div>
    <div><%= author.name %></div>
    
    
    <div>Books: </div>
   <!-- How to display all the books with this this name as author in Books -->
    
    <div>Adaptations:</div>
    <!-- How to display all the adaptation of all the books by this author -->
    
  </section>

</main>

<%- include("../partials/footer") %>