<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/books/new.css" />
<%- include('../partials/nav') %>


<main>


  <section>
    <div><%= author.name %></div>
    
    <div>Books: 
      <% books.forEach(book => { %>
        <%= book.title %>
        <%= book.year %> 
        <p>Adaptations:</p>
            <% movies.forEach(movie => { %> <br>
            <a href="/movies/<%= movie._id %>"><%= movie.title %> </a>
            <%= movie.format %> 
            <%= movie.year %> 
    <% }) %>
  <% }) %> 
      
   


    
  </section>

</main>

<%- include("../partials/footer") %>